<p>Hello <%= @user.first_name %>,</p>
<p>You have registered with Vancouver Tech Hub. Please click on this link to activate your account</p>
<%# use the password_reset_token for the activate functionality  %>
<%= link_to edit_account_verification_url(id: @user.account_verification_token),
  edit_account_verification_url(id: @user.account_verification_token) %>
<br/>
<p> Regards, </p>
<br/>
<p> Vancouver Tech Hub Team </p>
