# environemnt variables for setup_mail.rb
ENV["EMAIL_USER_NAME"] = "PUT YOUR USERNAME HERE"
ENV["EMAIL_PASSWORD"]  = "PUT YOUR PASSWORD HERE"

ENV["GOOGLE_API_KEY"] = "API KEY HERE"
ENV["GOOGLE_SEARCH_CX"] = "SEARCH CX KEY HERE"

ENV['AWS_ACCESS_KEY_ID']     = "AWS ACCESS KEY HERE"
ENV['AWS_SECRET_ACCESS_KEY'] = "AWS SECRET KEY HERE"
