<h1>About Us</h1>

<div class="row col-lg-12">
  <h2>Mission</h2>
  <p>
    Vancouver Tech Hub(<strong>VTH</strong>) is Vancouver’s easiest platform for discovering the local tech scene. Our mission is to make it simple for anyone to find and meet other folks with similar tech interests. <strong>VTH</strong>’s platform includes tools for adding meetup events to a calendar, social promotions, website popups, twitter feeds, tech company information pages and an awesome user experience. With native integrations and collaboration apps, <strong>VTH</strong> is the complete platform for Vancouver Techies!.
  </p>
  <h2>Our Team</h2>
  <p>
    Composed of great students from CodeCore, our team is expanding and we look forward to releasing new features soon!
  </p>
  <p>
    <%=image_tag("VTH_team.png", height: '', width: '100%')%>
  </p>
</div>
