<h1>News</h1>
<%# binding.pry %>
<%= paginate(@bing_news_paginate) %>
<%#= @bing_news_paginate.count %>
<%# @bing_news_paginate.each do |news| %>
<% @bing_news_paginate.each do |news| %>
  <p> <%= link_to news[:Title], news[:Url] %> </p>
<% end %>

<%= paginate(@bing_news_paginate) %>

<%#= @bing_results %>
