<h1>News Articles</h1>


<% @articles.each do |article| %>
<div class="row">
  <div class='col-sm-3'>
    <%= image_tag(article.thumbnail, class: "news-image", onerror: "validateImage(event)") %>
  </div>
  <div class="col-sm-9">
    <span class="h3"><%= link_to article.title.html_safe, article.link %></span>
    <p><%= article.snippet.html_safe %></p>
  </div>
</div>
<hr>
<% end %>
