// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.simple-calendar{
  table tbody tr{height:50px;font-size:10px}
  .day:hover {background-color: lightgrey;}
  .day.active{background-color: #FFCC99;}
  .event-cal{margin:0 0 10px 0}
}

@media (max-width: 600px) {
  .simple-calendar{
    table tbody{height:50px;font-size:10px}
    th { display: none; }
    .day:hover {background-color: lightgrey;}
    .day.active{background-color: #FFCC99;}
    .event-cal{margin:0 0 10px 0}
    .day {display: block; width: 100%; height: 100%;}
  }
}

input.empty {
  font-family:Arial, FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.search {
  margin-bottom: 20px;
}
