// Place all the styles related to the organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form {
  .checkbox {
    display: inline-block;
    margin-right: 10px;
    input[type="checkbox"] {
      margin-left: -13px;
    }
  }
  .check_boxes {
    label {
      display: block;
    }
  }
}

img.full-width {
  width: 100%;
}
