//console.log("_load_news")
var baseUrl = "http://localhost:3000";
var htmlString = ""
$.ajax({
  method: "GET",
  url: baseUrl + "/news/search_news.json?organization='<%= @organization.name %>'",
  success: function(news)
  {

      for (var i=0; i<news.length; i++) {
        htmlString = htmlString + "<a href=' " + news[i].Url + " '>" +  news[i].Title + "</a>";
        htmlString = htmlString + "<br>";
      }

      $("#bing_organization_news").html(htmlString);
      //console.log(html_string);

  },
  error: function() {
      alert("Problem loading news. Please retry");
  }
});
