<h1>Organization list</h1>

<% @organization.each do |o| %>
<div>
  <%= link_to o.name, organization_path(o) %>
  <%# if o.image.present? %>
    <%#= image_tag o.image.url(:thumb) %>
  <%# end %>
  <hr>
</div>

<% end %>
